<button class="btn btn-primary new-contact-btn blue-grey darken-4" ng-click="showAddContactView()">Enter New Contact</button>
<div ng-repeat="contact in contacts" ng-class-even="'grey'" ng-class-odd="'lightgrey'">
  <div class="row contact-list-row">
    <div class="col s2">{{contact.first_name}} {{contact.last_name}}</div>
    <div class="col s3">{{contact.address}}</div>
    <div class="col s2">{{contact.city}}, {{contact.state}} {{contact.zip}}</div>
    <div class="col s2">{{contact.email}}</div>
    <div class="col s2">{{contact.phone}}</div>
    <div class="col s1 delete-btn-div">
      <button class="btn btn-danger blue-grey darken-4 fa fa-trash-o"></button>
    </div>
  </div>
</div>
