<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body ng-app="ContactsApp">

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#contacts_list">Contacts List</a></li>
          <li class="tab col s6"><a href="#add_contact">Add Contact</a></li>
        </ul>
      </div><!-- tabs header -->

      <div id="contacts_list" class="col s12" ng-controller="ContactsListCtrl">
        <div id="contacts_list_container">
        </div>
      </div><!-- #contacts_list -->

      <div id="add_contact" class="col s12" ng-controller="NewContactCtrl">
        <div class="row">
          <form class="col s6 offset-s3">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" ng-model="first_name">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" ng-model="last_name">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="address" type="text" class="validate" ng-model="address">
                <label for="address">Address</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="city" type="text" class="validate" ng-model="city">
                <label for="city">City</label>
              </div>
              <div class="input-field col s3">
                <input id="state" type="text" class="validate" ng-model="state">
                <label for="state">State</label>
              </div>
              <div class="input-field col s3">
                <input id="zip" type="text" class="validate" ng-model="zip">
                <label for="zip">Zip</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" ng-model="email">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="phone" type="text" class="validate" ng-model="phone">
                <label for="phone">Phone</label>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-primary add_btn col s6 offset-s3" ng-click="getNewContact()">Add Contact</button>
            </div>
          </form>
        </div><!-- .row -->
      </div><!-- #add_contact -->
    </div><!-- full content div -->

    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script type="text/javascript" src="/lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/lib/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/AppConstants.js"></script>
    <script type="text/javascript" src="/javascripts/AppConfig.js"></script>
    <script type="text/javascript" src="/javascripts/factories/FirebaseContactsFactory.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/ContactsListCtrl.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/NewContactCtrl.js"></script>
  </body>
</html>
