<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body ng-app="ContactsApp">

    <div class="col s12" ng-controller="NewContactCtrl">
      <div id="contacts_list_container" ng-show="!showAddContact">
        <div ng-repeat="contact in contacts">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-xs-1">{{contact.first_name}}</div>
              <div class="col-xs-1">{{contact.last_name}}</div>
              <div class="col-xs-2">{{contact.address}}</div>
              <div class="col-xs-1">{{contact.city}}</div>
              <div class="col-xs-1">{{contact.state}}</div>
              <div class="col-xs-1">{{contact.zip}}</div>
              <div class="col-xs-1">{{contact.email}}</div>
              <div class="col-xs-1">{{contact.phone}}</div>
              <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o"></button></div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" ng-click="showAddContactView()">Enter New Contact</button>
      </div>

      <div id="add_contact" class="col s12" ng-show="showAddContact">
        <div class="row">
          <form class="col s6 offset-s3">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" ng-model="first_name">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" ng-model="last_name">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="address" type="text" class="validate" ng-model="address">
                <label for="address">Address</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="city" type="text" class="validate" ng-model="city">
                <label for="city">City</label>
              </div>
              <div class="input-field col s3">
                <input id="state" type="text" class="validate" ng-model="state">
                <label for="state">State</label>
              </div>
              <div class="input-field col s3">
                <input id="zip" type="text" class="validate" ng-model="zip">
                <label for="zip">Zip</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" ng-model="email">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="phone" type="text" class="validate" ng-model="phone">
                <label for="phone">Phone</label>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-primary add_btn col s6 offset-s3" ng-click="getNewContactThenPostNewContact()">Add Contact</button>
            </div>
          </form>
        </div><!-- .row -->
      </div><!-- #add_contact -->
    </div><!-- #contacts_list -->

    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script type="text/javascript" src="/lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/lib/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/AppConstants.js"></script>
    <script type="text/javascript" src="/javascripts/AppConfig.js"></script>
    <script type="text/javascript" src="/javascripts/factories/FirebaseContactsFactory.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/NewContactCtrl.js"></script>
  </body>
</html>
